{% load static %}
<html>

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {% block stylesheet %}
    {% endblock %}
</head>

<body>
        {% include 'partials/nav.html' %}
        
<div class="container-fluid">
        {% block content %}
        {% endblock %}
</div>
        

        {% include 'partials/footer.html' %}

        {% block script %}
        {% endblock %}
</body>

</html>